    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    body{
        background-image: url('../image/clear.jpg');
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: cursive;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .app-main{
        width: 81vw;
        background-color: #5d425780;
        background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
        text-align: center;
        padding: 2rem;
        border-radius: 3%;
        border-bottom: none;
        transition: all .3s;
        filter: drop-shadow(0px 0px 3px black);
    }

    .app-main > *{
        margin-bottom: 1.4rem;
        filter: drop-shadow(0px 0px 4px black);
    }
    .app-main .input-box{
         width: 100%;
         border: none;
         outline: none;
         background: rgba(240, 248, 255, 0.89);
         font-size: 1.2rem;
         padding:.4rem;
         border-radius: 3%;
         letter-spacing: .1rem;
         font-weight: 540;
         transition: all .4s;
         
        
    }
    .app-main .input-box:focus{
        background: rgba(240,248,255);
        
    } 
  
    .weather-body{
        color: #582233;
        padding: 1rem;
        line-height: 1.7rem;
        font-size: 1.2rem;
        border-radius: 3%;
        background: rgba(240, 248, 255, 0.836);
        transition: all .3s;
        display: none;
    }
    .weather-body .location-detail{
       padding-bottom: 20px;
       font-weight: 550;
       line-height: 1.9rem;
       letter-spacing: .1rem;
       margin-top: 1rem;
    }
    .weather-body .weather-status .temp{
        font-size: 4.5rem;
        margin-top: 20px;
        padding-bottom: 1.9rem;
        font-weight: 600;
        text-shadow: 2px 4px 2px rgba(32, 32, 32, 0.692);
        letter-spacing: .1rem;
    }
    .weather-body .weather-status .min-max{
        line-height: 1.9rem;
        font-size: 1.2rem;
        padding-top: .5rem;
    }
    .weather-body .weather-status .weather{
        font-size: 1.1rem;
        padding-top: .5rem;
        font-weight: 700;
        letter-spacing: .1rem;
    }
    .weather-body .weather-status .img{
        margin-top: 1.4rem; 
        font-size: 3.6rem;
        color: gray;
        text-shadow: 1px 1px 2px black;
        animation-name:first ;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transition: first 3s;
        transform: scale(1);
    }

   @keyframes first {
       0%{
           transform: scale(1.1);
        }
       25%{
           transform: scale(1);

       }
        50%{
            transform: scale(1.1) ;
        }
        100%{
            transform: scale(1) ;
        }
    }
    @media (min-width: 992px) {

        .app-main{
            width: 26vw;
        }
        .weather-body .weather-status .img{
            font-size: 4rem;
        }
    }

    
